<div class="novo_usuario">
	<% if (current_usuario.tipo == 2) && (current_usuario.cadastro_id == nil) -%>
		<%= render 'form' %>
	<% else -%>
		<p><%= link_to "Voltar para os dados do mergulhador", "/mergulhadores/#{current_usuario.cadastro_id}" %></p>
	<% end %>
</div>
