<p>Olá <%= @resource.email %>!</p>

<p>Foi solicitada um link para alteração de senha que pode ser feita pela url abaixo.</p>

<p><%= link_to 'Escolher minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a senha por favor ignore esse e-mail.</p>

<p>Sua senha não vai mudar até que você acessar o link acima e criar um novo.</p>
